<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>MAIN_SETTINGS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.wechat.keyboardswitch</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>ENABLED_LABEL</string>
			<key>PostNotification</key>
			<string>com.wechat.keyboardswitch.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.wechat.keyboardswitch</string>
			<key>key</key>
			<string>OnlyWeChat</string>
			<key>label</key>
			<string>ONLY_WECHAT_LABEL</string>
			<key>subtitle</key>
			<string>ONLY_WECHAT_SUBTITLE</string>
			<key>PostNotification</key>
			<string>com.wechat.keyboardswitch.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>GESTURE_SETTINGS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.wechat.keyboardswitch</string>
			<key>key</key>
			<string>InvertDirection</string>
			<key>label</key>
			<string>INVERT_DIRECTION_LABEL</string>
			<key>subtitle</key>
			<string>INVERT_DIRECTION_SUBTITLE</string>
			<key>PostNotification</key>
			<string>com.wechat.keyboardswitch.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.wechat.keyboardswitch</string>
			<key>key</key>
			<string>HapticFeedback</string>
			<key>label</key>
			<string>HAPTIC_FEEDBACK_LABEL</string>
			<key>subtitle</key>
			<string>HAPTIC_FEEDBACK_SUBTITLE</string>
			<key>PostNotification</key>
			<string>com.wechat.keyboardswitch.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>FOOTER_TEXT</string>
		</dict>
	</array>
	<key>title</key>
	<string>WeChatKeyboardSwitch</string>
</dict>
</plist>
